rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function signedIn() { return request.auth != null; }
    function isOwner(uid) { return signedIn() && request.auth.uid == uid; }

    match /audio/{uid}/{fileName} {
      allow read: if signedIn();
      allow write: if isOwner(uid);
    }

    match /covers/{uid}/{fileName} {
      allow read: if signedIn();
      allow write: if isOwner(uid);
    }

    match /avatars/{uid}/{fileName} {
      allow read: if signedIn();
      allow write: if isOwner(uid);
    }
  }
}
